<div class="paginate">
    <ul class="paginate-container">
        {% if  prev_page > 0 %}
            <li class="paginate-item">
                <a href="{% url 'mongo:detail' current_db current_collection %}?per_page={{ per_page }}&page=0">
                    0
                </a>
            </li>
            <li>...</li>
            <li class="paginate-item">
                <a href="{% url 'mongo:detail' current_db current_collection %}?per_page={{ per_page }}&page={{ prev_page }}">
                    {{ prev_page }}
                </a>
            </li>
        {% endif %}
        {% if prev_page == 0 %}
            <li class="paginate-item">
                <a href="{% url 'mongo:detail' current_db current_collection %}?per_page={{ per_page }}&page={{ prev_page }}">
                    {{ prev_page }}
                </a>
            </li>
        {% endif %}

        <li class="paginate-item paginate-item-active">
            <a href="">
                {{ current_page }}
            </a>
        </li>

        {% if next_page < total_page %}
            <li class="paginate-item">
                <a href="{% url 'mongo:detail' current_db current_collection %}?per_page={{ per_page }}&page={{ next_page }}">
                    {{ next_page }}
                </a>
            </li>
            <li>...</li>
            <li class="paginate-item">
                <a href="{% url 'mongo:detail' current_db current_collection %}?per_page={{ per_page }}&page={{ total_page }}">
                    {{ total_page }}
                </a>
            </li>
        {% endif %}
        {% if next_page == total_page %}
            <li class="paginate-item">
                <a href="{% url 'mongo:detail' current_db current_collection %}?per_page={{ per_page }}&page={{ next_page }}">
                    {{ next_page }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
