{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mongo dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <style>
        html, body {
            margin: 0;
        }
    </style>

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/_sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/_navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/_footer.css' %}">
    {% endblock style %}
</head>
<body background="{% static "background.png" %}">

{% block content %}
    {% include 'mongo/_sidebar.html' %}

    <div class="main">
        {% include 'mongo/_navbar.html' %}

        {% block main %}{% endblock %}

        {% include 'mongo/_footer.html' %}
    </div>

{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/_sidebar.js' %}"></script>
    <script src="{% static 'js/_navbar.js' %}"></script>
{% endblock javascript %}

</body>
</html>
