{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mongo dashboard</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
        html, body {
            margin: 0;
        }
    </style>
</head>
<body>

<nav class="nav-container">
    <ul class="nav nav-left">
        <li class="nav-title">mongo dashboard</li>
    </ul>
</nav>

<header></header>

<div class="content">
    <div class="container">
        <h1>Hello, mongo!</h1>
    </div>
</div>

<footer class="footer">
    <div class="footer-content">
        <span class="footer-content-item">
            <a href="">
                Powered by django-mongo
            </a>
        </span>

        <span style="color: #fff;"> | </span>

        <span class="footer-content-item">
            <a href="">
                Open Source
            </a>
        </span>

        <span style="color: #fff;"> | </span>

        <span class="footer-content-item">
        <a href="https://twitter.com/taoliu0509">
            Follow me on Twitter
        </a>
        </span>
    </div>
</footer>
</body>
</html>
