{% extends 'mongo/base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock style %}

{% block content %}
    {% include 'mongo/_sidebar.html' %}

    <div class="main">
        <nav class="navigation" role="navigation">
            <div class="navigation-container">
                <span class="open-close" id="close-open" onclick="toggleSideBar()">&equiv;</span>
                <span>TODO: 您当前位置为: mongodb://localhost:27017/test</span>
            </div>
        </nav>
        <div class="content">这里展现数据</div>
        <footer class="footer">fork on github</footer>
    </div>

{% endblock content %}
