.main {
    background-color: rgba(238, 238, 238, 0.8);
    margin-left: 260px;
    transition-duration: 0.5s;
}

.content {
    margin: 30px;
    box-shadow: #609ab6 0 0 5px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-container > img {
    width: 400px;
    height: 400px;
}

.content-contaner {

}