.main {
    background-color: rgba(238, 238, 238, 0.8);
    margin-left: 260px;
    transition-duration: 0.5s;
}

.content {
    background-color: rgb(91, 128, 178);
    margin: 30px;
    box-shadow: #609ab6 0 0 5px;
    height: 500px;
}
